doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 화상진료실
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="/public/css/style.css")
    body
        header
            h1 낭만닥터임ㅋ
        main
            div#welcome
                form#callForm
                    input(placeholder="방이름", required, type="text")
                    button 입장하기
            div#callRoomContainer
                div#call
                    div#myStreamContainer
                        video#myFace(autoplay, playsinline)
                    select#cameras
                    button#mute 음소거
                    button#camera 카메라 끄기
                    div#peerStreamContainer
                        video#peerFace(autoplay, playsinline)
                div#room
                    h3
                    div.chat-container
                        ul.chat-list
                    form#name
                        input(placeholder="이름을 입력해 주세요", required, type="text")
                        button 저장하기
                    br
                    form#msg
                        input(placeholder="message", required, type="text")
                        button 보내기

                    button#leaveBtn 방 나가기
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")
