doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Combined App
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 Combined App
        main
            div#welcome
                form#callForm
                    input(placeholder="방이름", required, type="text")
                    button 입장하기
                h4 Open Rooms:
                ul
                form
                    input(placeholder="room name", required, type="text")
                    button Enter Room
            div#call
                div#myStream
                    video#myFace(autoplay, playsinline, width = "400", height="400")
                    button#mute 음소거
                    br
                    button#camera 카메라 끄기
                    select#cameras
                video#peerFace(autoplay, playsinline, width = "400", height="400")
            div#room
                h3
                ul
                form#name
                    input(placeholder="nickname", required, type="text")
                    button Save
                form#msg
                    input(placeholder="message", required, type="text")
                    button Send
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")
